.usecase {

    /* ff 3.6+ */
    background:-moz-linear-gradient(90deg, rgba(239, 239, 237, 1) 0%, rgba(232, 231, 228, 1) 31%, rgba(165, 217, 222, 1) 63%); 

    /* safari 5.1+,chrome 10+ */
    background:-webkit-linear-gradient(90deg, rgba(239, 239, 237, 1) 0%, rgba(232, 231, 228, 1) 31%, rgba(165, 217, 222, 1) 63%);

    /* opera 11.10+ */
    background:-o-linear-gradient(90deg, rgba(239, 239, 237, 1) 0%, rgba(232, 231, 228, 1) 31%, rgba(165, 217, 222, 1) 63%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A5D9DE', endColorstr='#EFEFED', GradientType=0 );

    /* ie 10+ */
    background:-ms-linear-gradient(90deg, rgba(239, 239, 237, 1) 0%, rgba(232, 231, 228, 1) 31%, rgba(165, 217, 222, 1) 63%);

    /* global 94%+ browsers support */
    background:linear-gradient(90deg, rgba(239, 239, 237, 1) 0%, rgba(232, 231, 228, 1) 31%, rgba(165, 217, 222, 1) 63%);

}
.usecase-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 50px;
    line-height: 80px;
    letter-spacing: -0.04em;
  }    
  
  .usecase-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
  
    margin-top: 1.5rem;
  }